/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: "Bariol-Bold";
  src: url("../font/Bariol-Bold.eot");
  src: url("../font/Bariol-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/Bariol-Bold.svg#Bariol-Bold") format("svg"),
    url("../font/Bariol-Bold.ttf") format("truetype"),
    url("../font/Bariol-Bold.otf") format("otxf"),
    url("../font/Bariol-Bold.woff") format("woff"),
    url("../font/Bariol-Bold.woff2") format("woff2");
}

/* variables */
:root {
  --header-height: 3.75rem; /*60px*/
  --max-width: 75rem; /*1200px*/
  /* --margin: 1rem; */
  --padding: 1rem;

  --color-primary: rgb(5, 131, 242);
  /* --primary-color: #3D9DF2; */
  --color-secondary: rgb(242, 250, 255);
  /* --secondary-color: #034c8c; */
  --white: rgb(255, 255, 255);
  --light-grey: rgb(232, 232, 232);
  --black: rgb(0, 0, 0);
  --soft-black: rgb(0, 0, 0, 0.2);

  --font-logo: "Bariol-Bold", Tahoma, sans-serif;
  --font-title: "Crimson Pro", "Times New Roman", serif;
  --font-text: "Open Sans", Verdana, sans-serif;
  --logo-font-size: 2rem;
  --h1-font-size: 1.625rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.075rem;
  --extra-small-font-size: 0.625rem;

  --b-radius: 0.2rem;
  --transition-fast: 0.1s;
  --transition-slow: 0.3s;
}

/* responsive typography */
/*768px*/
@media screen and (min-width: 48rem) {
  :root {
    --h1-font-size: 2.25rem;
  }
}

/*890px*/
@media screen and (min-width: 55.625rem) {
  :root {
    --header-height: 5rem; /*80px*/
    --logo-font-size: 3rem;
  }
}

/* base */
html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body,
input,
button {
  font-family: var(--font-text);
  font-size: var(--normal-font-size);
  color: var(--black);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--font-title);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input {
  background-color: transparent;
  border: none;
  outline: transparent;
}

/* reusable classes */
.wrapper {
  max-width: var(--max-width);
  /* margin-inline: var(--margin); */
  padding-inline: var(--padding);
  margin-inline: auto;
}

.logo {
  font-family: var(--font-logo);
  font-size: var(--logo-font-size);
}

/* header */
header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  background-color: transparent;
  /* padding: var(--padding); */
  color: var(--white);
}

header:has(.mobile-nav ul.open) {
  color: var(--color-primary);
}

.mobile-nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.menu-btn {
  font-size: 1.5rem;
  cursor: pointer;
  color: inherit;
}

.mobile-nav ul {
  transform: translateY(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: -1;
  color: initial;
  transition: var(--transition-fast);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: var(--header-height);
  font-weight: 500;
}

.mobile-nav ul.open {
  transform: translateY(0);
}

.mobile-nav li {
  width: 100%;
  line-height: 2.5rem;
  border-top: thin solid var(--soft-black);
}

.mobile-nav li:last-of-type {
  border-bottom: thin solid var(--soft-black);
}

.mobile-nav li a {
  display: inline-block;
  padding-block: 0.5rem;
  height: 100%;
  width: 100%;
  padding-inline: var(--padding);
  cursor: pointer;
  transition: color var(--transition-slow);
}

.mobile-nav li a:hover {
  color: var(--color-primary);
}

.mobile-nav li:nth-last-child(n + 3) a::after {
  content: url("../img/arrow-down.png");
  position: absolute;
  right: var(--padding);
  display: inline-block;
  border-left: thin solid var(--soft-black);
  padding-inline-start: 1rem;
}

/* main */
/* hero section */
.hero {
  width: 100%;
  height: 2000px;
  background-color: var(--color-primary);
}

/* footer */
